In [1]:
import pandas as pd


####### data should be in the same currency

In [8]:
df = pd.read_excel("credits.xlsx","DATA")

In [10]:
# OR SET INDEX
df.index=df.ID

In [16]:
df = df.drop("ID", axis=1)

In [19]:
df.head()

,INDUSTRY_GROUP,INDUSTRY,SECTOR,CURRENCY,DEFAULT_PROB,NBR_EMPLOYEES,EMPL_GROWTH,PCT_WOMEN_EMPLOYEES,PCT_WOMEN_MGT,WHISTLE_BLOWER_POLICY,...,DIVIDEND_YIELD,MARKETCAP,TOTAL_ASSETS,TOTAL_LIABILITIES,CURRENT_ASSETS,EBIT,RETAINED_EARNINGS,SALES,SALES_GROWTH,INTEREST_EXPENSES
ID,,,,,,,,,,,,,,,,,,,,,
1,Materials,Chemicals,Materials,EDM,0.611768,113830,1.240717,24.600000,19.799999,Y,...,3.066857,8.970781e+10,76496.000,43928.000,25946.000,6426.000,31515.00,57550.000,-18.309699,661.000
2,Semiconductors & Semiconductor,Semiconductors & Semiconductor,Information Technology,EDM,0.728919,36962,1.826497,37.299999,NaN,Y,...,0.866824,2.881740e+10,9945.000,4309.000,4871.000,983.000,-1404.00,7063.000,9.114784,63.000
3,"Food, Beverage & Tobacco",Tobacco,Consumer Staples,GBP,0.724798,85335,-2.560033,22.000000,16.000000,Y,...,1.977479,1.161037e+11,39773.000,31367.000,12359.000,4653.000,8384.00,14751.000,12.568681,746.000
4,Retailing,Specialty Retail,Consumer Discretionary,EES,0.656409,162450,6.277886,76.000000,NaN,Y,...,2.380952,8.901158e+10,19621.435,6869.881,9898.347,4020.734,12675.09,23310.532,11.531303,7.635
5,"Food, Beverage & Tobacco",Food Products,Consumer Staples,CHF,0.482876,328000,-2.089552,34.599998,27.200001,Y,...,2.795333,2.560685e+11,131901.000,65920.000,32042.000,13163.000,82870.00,89786.000,0.789152,543.000

In [23]:
df.shape

(3933, 31)

In [21]:
null_cols = df.isnull().sum()
null_cols[null_cols > 0]

CURRENCY                 3535
EMPL_GROWTH               124
PCT_WOMEN_EMPLOYEES      3303
PCT_WOMEN_MGT            3605
WHISTLE_BLOWER_POLICY    2003
ETHICS_POLICY            1998
BRIBERY_POLICY           2013
VOLATILITY_180D             4
PCT_CHG_1_YEAR             46
PCT_CHG_6_M                 4
dtype: int64

In [25]:
df.CURRENCY.value_counts()

GBP    105
EUR     62
EDM     41
EFR     41
SEK     30
CHF     22
EIL     18
DKK     16
EES     14
EDG     12
NOK     10
EFM      9
EBF      6
EIP      5
EAS      4
EPE      2
EGD      1
Name: CURRENCY, dtype: int64

In [36]:
# get currency by country name

countries = [i for i in df.COUNTRY_NAME]
countrylist=list(set(countries))
countrylist

['BELGIUM',
 'NORWAY',
 'SWITZERLAND',
 'BRITAIN',
 'FRANCE',
 'CAYMAN ISLANDS',
 'INDIA',
 'DENMARK',
 'ISRAEL',
 'CANADA',
 'AUSTRIA',
 'LUXEMBOURG',
 'SPAIN',
 'SWEDEN',
 'BERMUDA',
 'THAILAND',
 'JAPAN',
 'UNITED STATES',
 'SOUTH AFRICA',
 'FINLAND',
 'GERMANY',
 'JERSEY',
 'CHINA',
 'MONACO',
 'GREECE',
 'IRELAND',
 'NETHERLANDS',
 'PUERTO RICO',
 'PORTUGAL',
 'ITALY']

In [37]:
pip install easymoney

Collecting easymoney
  Downloading https://files.pythonhosted.org/packages/90/b5/7df93f96c9d3f7fa0b057d3bd90b72c595ce49d4bc50ace535cf8743841c/easymoney-1.5.0.tar.gz
Requirement already satisfied: numpy in c:\users\arty\anaconda3\lib\site-packages (from easymoney) (1.16.2)
Requirement already satisfied: pandas in c:\users\arty\anaconda3\lib\site-packages (from easymoney) (0.24.2)
Requirement already satisfied: pycountry in c:\users\arty\anaconda3\lib\site-packages (from easymoney) (18.12.8)
Requirement already satisfied: requests in c:\users\arty\anaconda3\lib\site-packages (from easymoney) (2.21.0)
Collecting wbdata (from easymoney)
  Downloading https://files.pythonhosted.org/packages/d8/a0/c83a8cb001885685f8344f4a6d3557ec3de73d367aea82dbb519aa6d2706/wbdata-0.2.7.tar.gz
Requirement already satisfied: pytz>=2011k in c:\users\arty\anaconda3\lib\site-packages (from pandas->easymoney) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\arty\anaconda3\lib\site-packages (from pandas->easymoney) (2.8.0)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\arty\anaconda3\lib\site-packages (from requests->easymoney) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in c:\users\arty\anaconda3\lib\site-packages (from requests->easymoney) (1.24.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\arty\anaconda3\lib\site-packages (from requests->easymoney) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\arty\anaconda3\lib\site-packages (from requests->easymoney) (2019.3.9)
Requirement already satisfied: decorator in c:\users\arty\anaconda3\lib\site-packages (from wbdata->easymoney) (4.4.0)
Requirement already satisfied: six>=1.5 in c:\users\arty\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas->easymoney) (1.12.0)
Building wheels for collected packages: easymoney, wbdata
  Building wheel for easymoney (setup.py): started
  Building wheel for easymoney (setup.py): finished with status 'done'
  Stored in directory: C:\Users\Arty\AppData\Local\pip\Cache\wheels\0a\85\7f\9241e28ec82fc671032f9367b429dab07983f4b63375d40792
  Building wheel for wbdata (setup.py): started
  Building wheel for wbdata (setup.py): finished with status 'done'
  Stored in directory: C:\Users\Arty\AppData\Local\pip\Cache\wheels\57\61\6a\3978e90cf2f9443b94ce56b4fa839850da9076e697be3a27e3
Successfully built easymoney wbdata
Installing collected packages: wbdata, easymoney
Successfully installed easymoney-1.5.0 wbdata-0.2.7
Note: you may need to restart the kernel to use updated packages.

ep.currency_converter(amount=100, from_currency="France", to_currency="Germany", pretty_print=True)

100.00 EUR